<div
  *ngIf="isFloatingCopilotVisible"
  class="chatbot-wrapper"
  [style.left.px]="posX"
  [style.top.px]="posY"
  [class.dragging]="isDragging"
>
  <!-- Floating Trigger Button -->
  <button
    class="chatbot-btn"
    (mousedown)="onMouseDown($event)"
    (touchstart)="onTouchStart($event)"
    (click)="onCopilotClick($event)"
    aria-label="AYYOU Copilote"
    title="Ouvrir AYYOU Copilote"
  >
    <div class="icon-container">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 6H20M4 12H20M4 18H20" stroke="#FFFFFF" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </button>
</div>
